html {
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.4;
    color: #1b1b1b;
}

.header {
    margin-bottom: 90px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: auto;
}

.menu {
    margin-left: 130px;
    margin-right: 185px;
} 

.menu_item {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.user-nav {
    display: flex;
    gap: 0 20px;
}

.top {
    margin-bottom: 150px;
}

.top_slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
}

.top-slide_inner {
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.top-slide_content {
    flex-basis: 183px;
    margin-top: -88px;
}

.top-slide_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1.3;
}

.top-slide_subtitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.top-slide_text {
    margin-bottom: 20px;
}
.top-slide_btn {
    color: #7449BB;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 55px;
    border: 1px solid #7449BB;
    display: inline-block;
    margin-left: auto;

    transition: all .3s ease;
}

.top-slide_btn:hover {
    color: #fff;
    background-color: #7449BB;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

.container-arrow {
    position: relative;
    padding: 0;
    max-width: 1200px;
}

.top .swiper {
    padding: 50px;
}

.swiper-button-next {
    left: 75px;
    right: auto;
}